body {
    font-family: Arial, sans-serif;
}
 
header {
    font-weight: bold;
}
 
#script-executor {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}