body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #0066ff;
  }
  
  button {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    background: #0066ff; 
    color: #fff;
    cursor: pointer;
  }
  .share-link {
    color: blue;
  }
  .share-link:hover {
    color: rgb(4, 4, 159);
  }